@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - SimpleBlog</title>
</head>
<body>
    <header>
        <h1>Simple Blog</h1>
        <a href="@Url.RouteUrl("home")">Home</a>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome back @User.Identity.Name</p>
            <a href="@Url.RouteUrl("logout")">Logout</a>
            
            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("index", "posts", new {area = "admin"})">View posts in admin<a href="@Url.RouteUrl("login")">Login</a></a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("login")">Login</a>
        }
    </header>
    @RenderBody()
    <footer>
        &copy; @DateTime.UtcNow.Year - moldnix
    </footer>
    @RenderSection("Scripts", false)
</body>
</html>
